[Desktop Entry]
Encoding=UTF-8
Name=BoardPresenter
Comment=BoardPresenter – interactive whiteboard with dual-screen presentation mode
Exec=openboard %f
Icon=ch.openboard.OpenBoard
StartupNotify=true
Terminal=false
Type=Application
MimeType=application/ubz
Categories=Education;
